
\.DS_Store

*.DS_Store

HW/ZigBug/__Previews/

HW/ZigBug/History/

*.Zip

*.LOG

*.PcbDocPreview

*.SchDocPreview

*.CMP

*.CMPPreview

HW/ZigBug/Project Outputs for ZigBug/Status Report\.Txt

*.Txt

HW/ZigBug/Project Outputs for ZigBug/
